<%= link_to shop_path(shop), class:"shop-wrapper" do %>
  <div class="shop-detail-group">
    
      <div class="shop-image">
        <%= image_tag shop.image , class: 'shop-image'%>
      </div>

      <div class="shop-reserve-group">

        <div class="title-address-genre">
          <div class="shop-tag ">
            <div class="index shop-name"><%= shop.shop_name %></div>
            <div class="tag-list"><%= shop.tag.name %></div>
          </div>
          <div class="genre-address">
            <div class="index genre"><%= shop.genre.name %></div>
            <div class="index address"><%= shop.prefecture.name %></div>
          </div>
        </div>
      </div>
    
  </div>
<% end %>
