<%= render partial: "devise/shared/header"%>

<div class="main">
  <div class="left-area">
    <div class="form-title">検索フォーム</div>

    <div class="search-form">
      <%= search_form_for @p, url: search_path do |f| %>
        <div class="form form-genre">
          <%= f.label :genre_eq, 'ジャンル' %>
          <%= f.collection_select :genre_id_eq, @genres, :id, :name,  include_blank: '指定なし' %>
          <br>
        </div>

        <div class="form form-address">
          <%= f.label :prefecture_eq, '所在地' %>
          <%= f.collection_select :prefecture_id_eq, @prefectures, :id, :name,  include_blank: '指定なし' %>
          <br>
        </div>
        <div class="form form-tag">
          <div class="col-md-4 radio-buttons-list">
            <%= f.label :shop_tag_relations_tag_id_in, 'こだわり条件' %>
            <%= f.collection_check_boxes :shop_tag_relations_tag_id_in, @tags, :id, :name %>
            <br>
          </div>
        </div>
        <%= f.submit '検索' %>
      <% end %>
    </div>
  </div>
  <div class="right-area">
    <div class="shop">
      <div class="title">レストラン一覧</div>
    </div>
    <div class="search-value"></div>
    <div class="shop-group">
      <div class="shop-list">
       <% @shops.each do |shop| %>
        <%= render partial: "shops/shops", locals: {shop: shop} %>
       <% end %>
      </div>
    </div>
  </div>
</div>

<%= render partial: "devise/shared/footer"%>