<%= render partial: "devise/shared/header"%>
<%= link_to image_tag("main-cover-logo.png", class:"main-cover-logo") %>

<div class="main">
  <div class="left-area menu">
    <div class="form-title">検索フォーム</div>
    <div class="search-form">
      <%= search_form_for @p, url: shops_path do |f| %>
        <div class="form form-genre">
          <div class="search-form-title"><%= f.label :genre_eq, 'ジャンル' %></div>
          <div class="col-md-4 select">
            <%= f.collection_select :genre_id_eq, @genres, :id, :name, {include_blank: "指定なし"} %>
            <br>
          </div>
        </div>

        <div class="form form-address">
          <div class="search-form-title"><%= f.label :prefecture_eq, '所在地' %></div>
          <div class="col-md-4 select">
            <%= f.collection_select :prefecture_id_eq, @prefectures, :id, :name, {include_blank: "指定なし"} %>
            <br>
          </div>
        </div>
        <div class="form form-tag">
            <div class="search-form-title"><%= f.label :shop_tag_relations_tag_in, 'こだわり条件' %></div>
            <div class="col-md-4 checkbox-list">
            <%= f.collection_check_boxes :shop_tag_relations_tag_id_in, @tags, :id, :name, multiple: true%>
            <br>
          </div>
        </div>
        <div class="search-button"><%= f.submit '検索',{class: 'submit-button'} %></div>
      <% end %>
    </div>
  </div>
  <div class="right-area menu">
      <div class="title">レストラン一覧</div>
        <% if @results.present? %>
          <ul class='shop-list'>
            <% @results.each do |shop| %>
              <%= render partial: "shops/shops", locals: {shop: shop} %>
            <% end %>
          </ul>
        <% else %>
          <div class="error-messages">
            一致する店舗がありません。条件を変えてもう一度検索してください。
          </div>
            <ul class='error shop-list'>
              <% Shop.all.each do |shop| %>
                <%= render partial: "shops/shops", locals: {shop: shop} %>
              <% end %>
            </ul>
        <% end %>
    </div>
  </div>
</div>
