<%= render partial: "devise/shared/header" %>
<div class="main-show">
  <div class="shop-header">
    <div class="shop-title-show">
      <%= @shop.shop_name %>
    </div>
    <div class="shop-genre-tags">
      <div class="shop-genre-show">
        <%= @shop.genre.name %>
      </div>
      <div class="shop-tags-show">
      <ul class="tags-show">
          <% @shop.tags.each do |tag| %>
          <li class="tag-list">
            <%=tag.name%>
          </li>
          <% end %>
      </ul>
      </div>
    </div>
  </div>

  <div class="contents-show">
    <div class="area-show">
      <div class="shop-image-box-show">
        <%= image_tag @shop.image , class: 'shop-image-show'%>
      </div>

      <div class="group-show">
        <div class="shop-profile-title">
          <h1>ショッププロフィール</h1>
        </div>

        <div class="shop-profile-show">
          <%= @shop.profile %>
        </div>
      </div>

      <div class="detail-show">
        <div class="shop-profile-title">
          <h1>店舗基本情報</h1>
        </div>
        <div class="shop-info-box show">
          <div class="shop-box pnum">
            <div class="shop-info-title show">
              <h2>予約・お問い合わせ</h2>
            </div>
            <div class="info p-num"><%= @shop.p_num %></div>
          </div>
        </div>

        <div class="shop-info-box show">
          <div class="shop-box pnum">
            <div class="shop-info-title show">
              <h2>所在地</h2>
            </div>
            <div class="p-code-address">
              <div class="info p-code">〒<%= @shop.p_code %></div>
              <div class="info show-address"><%= @shop.prefecture.name + @shop.city + @shop.address + @shop.building %></div>
            </div>
          </div>
        </div>
        
        <div class="shop-review-box show">
          <div class="shop-profile-title">
            <h2>口コミ</h2>
          </div>
          
            <% @reviews.each do |review| %>
              <div class="review-box reviews">
                <div class="review-text"><%= review.text %></div>
                <div class="review-user-time">
                  <%= "#{review.user.name}  #{review.created_at}" %>
                </div>
              </div>
            <% end %>
        </div>
        <div class="review-form">
          <% if user_signed_in? %>
            <%= form_with model: [@shop, @review], local: true do |f| %>
            <%= render 'devise/shared/error_messages', model: f.object %>
              <div class="form-input">
                <%= f.text_area :text, placeholder: "100字以内", class: "form-message", rows: "2" %>
                <%= f.submit "レビューを投稿" , class: "form-submit"%>
              </div>
            <% end %>
          <% else %>
            <div class="review-form">口コミの投稿には新規登録/ログインが必要です</div>
          <% end %>
        </div>

        <div class="reservation-form">
        <div class="shop-profile-title">
            <h2>予約フォーム</h2>
          </div>
          <% if user_signed_in? %>
          <div class="reservation-form">
            <%= form_with model: [@shop, @reservation], local: true do |f| %>
            <%= render 'devise/shared/error_messages', model: f.object %>
              <div class="reservation-input">
                <div class="form-message">
                  <div><%= f.label :date, '日付' %></div>
                  <%= f.date_field :date, class: "reservation date" %>
                </div>
                <div class="form-message">
                  <div><%= f.label :time, '時間' %></div>
                  <%= f.time_select :time, {start_hour: 11, end_hour: 22, minute_step: 15}, class: "reservation time" %>
                </div>
                <div class="reservation-area">
                  <div class="form-message">
                    <div><%= f.label :n_people, '人数'  %></div>
                    <%= f.select :n_people, [
                      ["1人", 1],
                      ["2人", 2],
                      ["3人", 3],
                      ["4人", 4],
                      ["5人", 5],
                      ["6人", 6],
                      ["7人", 7],
                      ["8人", 8],
                      ["9人", 9],
                      ["10人以上", 10],
                      ], include_blank: "選択して下さい", class: "reservation people" %>
                  </div>
                  <div><%= f.submit "この内容で予約" , data: { confirm: 'この内容で予約してよろしいですか？'}, class: "form-submit reservation-button"%></div>
                </div>
              </div>
            <% end %>
          </div>
          <% else %>
            <div class="review-form">予約には新規登録/ログインが必要です</div>
          <% end %>
        
        </div>

        

      <div class="shop-info-box show">
        <% if user_signed_in? && current_user.admin? %>
          <div class="admin show">
            <div><%= link_to '戻る', root_path, class: "admin-button" %></div>
            <div><%= link_to '編集', edit_admin_admin_shop_path(@shop), class: "admin-button" %></div>
            <div><%= link_to '削除', admin_admin_shop_path(@shop), method: :delete, class: "admin-button" %></div>
          </div>
        <% elsif user_signed_in? %>
          <div class="admin show">
            <div><%= link_to '戻る', root_path, class: "admin-button" %></div>
          </div>
        <% else %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render partial: "devise/shared/footer" %>